/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -----------css reset end---------------- */

.wrap{
    margin: 0 auto;
    width: 1002px;
}

/* head */

.social_zone{
    background-color: #f6f6f6;
    padding: 4px 20px 4px 0;
    box-sizing: border-box;
}

.social_link{
    float: right;
}

.social_link li{
    float: left;
    margin-left: 10px;
}

.social_link li a{
    text-decoration: none;
}

.fb_icon{
    border-right: 2px solid #cccccc;
    padding-right: 10px;
}

.fb_icon a{
    color: #4460a0;
}

.twitter_icon a{
    color: #00aaec;
}


.navbar{
    padding: 10px 10px 5px 20px;
    background-color: #fff;
    box-sizing: border-box;
}

.navbar h1{
    float:left;
}

.navbar h1 a{
    background-image: url(../images/logo.png);
    height: 36px;
    width: 172px;
    display: inline-block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar ul{
    padding-top: 10px; 
    float: right;
}

.navbar ul li{
    display: inline-block;
}


.navbar ul li a{
    text-decoration: none;
    color: #00cc99;
    padding: 0 20px 14px 20px;
}

.navbar ul li a:hover{
    border-bottom: 3px solid #00cc99;
}


.banner{
    background-image: url(../images/banner.jpg);
    height: 416px;
}

.tagline{
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.5);
}

.tagline h2{
    margin: 30px 0 30px 25px; 
    color: white;
    font-size: 35px;
}

/* .................content................. */

.lesson{
    margin-left: 20px;
}

.html5, .rwd, .jquery{
    border: 1px solid #f2f2f2;
    border-top: none;
    float: left;
    width: 300px;
    margin: 50px 10px 50px 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 2px #d8d8d8;
    border-radius: 5px;
}

.lesson p{
    line-height: 25px;
    letter-spacing: 1px;
}

.lesson li h3{
    font-weight: bolder;
    font-size: 120%;
    margin: 5px 0 5px 0;
    text-align: center;
    letter-spacing: 2px;
}

.rwd span{
   letter-spacing: 5px;
}

.html5 img{
    margin-left: 65px;
}


.rwd img{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 41px;
}

.rwd p{
    margin-bottom: 1px;
}

.jquery ul{
    margin-bottom: 24px;
}

.jquery img{
    margin-left: 65px;
    margin-top: 5px;
    margin-bottom: 11px;
}

.jquery ul{
    list-style: disc;
    padding: 2px 0 0 20px;
}

.jquery li{
    line-height: 25px;
}

.online_different{
    float: left;
    margin: 20px 0 50px 100px;
}

.online_different h2{
    font-weight: bolder;
    font-size: 120%;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-align: center;
}


.online_different table thead{
    background-color: #f7f7f7;
    font-weight: 600;
}

.online_different table tr, td , th{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px 80px 10px 20px;
    text-align: left;
}

.color_green{
    color: #00cc99;
}

/* ................................footer........................................ */

.leave_ur_info{
    background-image: linear-gradient(#00644c, #007658 );
    padding: 40px 20px 30px 20px;
    color: white;
}

.footer h2{
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
    letter-spacing: 2px;
    margin-bottom: 15px;
}



#question{
    margin-top: 8px;
    margin-left: 40px;
    float: left;
    border-radius: 3px;
}

.info{
    float: right;
    line-height: 30px;
    margin-right: 40px;
}

.btn{
    background: #00cc99;
    color: white;
    border-radius: 3px;
    border: 0;
    padding: 5px 10px;
    float: right;
    margin-top: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: #022920;
}

#name, #tel, #mail{
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
}



.clearfix::after{
    content: '';
    display: table;
    clear: both;
}